
body{
    color: rgb(255, 245, 205);
background-image: url(https://www.oneshop.com.my/image/catalog/BlockBanner/MainBlockBanner_584x494px.jpg); background-size: cover;
    font-weight: bold;
    background-attachment: fixed;
    font-size: 150%;
    text-shadow: 3px 2px 2px rgb(129, 78, 0);
}

div{
    display: inline-block;
    width: 1100px; height: 400px;
    margin-left :90px;
    margin-top: 30px;
    border: 3px groove rgb(152, 167, 94) ;
    margin-bottom: 20px;
    background-color: rgba(31, 37, 37,0.2);
}
img{
    opacity:0.8;
    margin-top: 90px;
    width: 30%; height: 50%;
    margin-left: 20px;
    border: 3px groove rgb(121, 112, 112);
    -ms-transform: rotate(-8deg);
    transform: rotate(-8deg);
    box-shadow: 10px 10px 10px #585652;
    /* box-shadow: 15px 20px 25px rgb(224, 248, 10); */
 
    
    
}

button{
    font-size: 150%;
    margin-left: 50%;
    margin-top: 20px;
    background-color: rgb(168, 139, 6);
   
  
}
button:hover{
    background-color: chartreuse !important;
    box-shadow: 2px 4px 10px rgb(224, 248, 10);
}

legend{
    text-align: center; font-size: 120%;
}

#field1{
    background-color: rgba(31, 37, 37,0.2);
    margin-bottom: 30px;
   
}
ul {
    margin-top: 25px;
 border:2px groove rgba(31, 37, 37,0.2) ;
 ; padding: 40px; margin-left: 50px;
 background-color: rgba(129, 124, 51,0.2);
}
li {
    list-style: decimal;
    border-bottom: 1px solid black;
}
#submitF{

  width: 150px;
  height: 30px;
    margin-top: 20px;
    background-color: rgb(204, 172, 29);
   
}
#submitF:hover{
    background-color: chartreuse !important;
    box-shadow: 2px 4px 10px rgb(224, 248, 10);
}
img:hover{
    opacity:1;
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 10px 10px 10px #ffee00;
  background: yellow !important;
 color: rgba(96, 204, 33, 0.733);
}

#Canvas{
    background-color: rgba(253, 173, 0, 0.8);
 font-weight: bold;
 border: 3px groove rgb(248, 189, 80);
}